<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<!-- 	<p th:text="'Hello, ' + ${param1} + ' ' + ${param2} + '!'" /> -->
	<form th:action="@{/processForm}" th:object="${calculator}"
		method="post">
		<fieldset>
			<legend>Ingresar Datos</legend>
			<table>
				<tr>
					<td><label>firstNumber: </label></td>
					<td><input type="text" th:field="*{firstNumber}" /></td>
				</tr>
				<tr>
					<td><label>secondNumber: </label></td>
					<td><input type="text" th:field="*{secondNumber}" /></td>
				</tr>
				<tr>
					<td><label for="">Seleccionar:</label></td>
					<td>
					<label> <input type="radio" name="radioName" value="Sumar" checked="checked" />Sumar</label>
					<label> <input type="radio" name="radioName" value="Multiplicar" /></label>Multiplicar</td>

				</tr>
				<tr>
					<td><p th:text="'Respuesta es: '" /></td>
					<td><p th:text=${resultado} /></td>
				</tr>
				<tr>
					<td>
						<button type="submit">Calcular</button>
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>