<h1>{{tittle}}</h1>
<form>
  Nombre: <input type="text" name="nombre" [(ngModel)]="nombre" /><br /><br />
  Apellidos: <input type="text" name="apellido"  [(ngModel)]="apellido"/><br /><br />
  Cargo: <input type="text" name="cargo"  [(ngModel)]="cargo"/><br /><br />

  <input type="submit" value="Registrar" (click)="registrarUsuario()" />
</form>
<p *ngIf="success; else unsuccess">{{message}} con el nombre {{nombre}} {{apellido}}
   y tiene cargo de <span [ngClass]="{paraDirectores:cargo=='director'}">{{cargo}}</span></p>
<!---[ngStyle]="{color:cargo=='director'? 'red':'black'}"-->
   <ng-template #unsuccess>
  <p>Nadie Registrado</p>
</ng-template>
<br>
<ul>
  <li *ngFor="let entry of entries; let i=index"><span style="font-size: larger;font-weight: bold;">{{entry.tittle}}</span>
  . position {{i}}
  </li>
</ul> 