<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign In</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<style type="text/css">
		body {
		    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
		    padding-bottom: 40px;
		    background-color: #f5f5f5;
		}
		
		.form-narrow {
		    max-width: 490px;
		    padding: 19px 29px 29px;
		    margin: 0 auto 20px;
		    background-color: #fff;
		    border: 1px solid #e5e5e5;
		    -webkit-border-radius: 5px;
		       -moz-border-radius: 5px;
		            border-radius: 5px;
		    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		            box-shadow: 0 1px 2px rgba(0,0,0,.05);
		}
				
	</style>
</head>
<body>
<form class="form-narrow form-horizontal" action="#" method="post" th:action="@{/authenticate}">
    <th:block th:if="${param.error != null}">
        <div th:replace="fragments/alert :: alert (type='danger', message='__${session['SPRING_SECURITY_LAST_EXCEPTION'].message}__')">Alert</div>
    </th:block>				 
    <fieldset>
        <legend>Acceso al sistema</legend>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Usuario</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Usuario" name="username" />
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Clave</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Clave" name="password" />
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-primary">Acceder</button>
            </div>
        </div>
    </fieldset>
     <input type="hidden" name="scope.openid" value="true"/>
   <input type="hidden" name="scope.openid" value="false"/>
</form>
</body>
</html>
