<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" th:src="@{/js/jquery-1.11.0.min.js}" ></script>
	<meta charset="UTF-8"/>	
</head>
<body>

	<div class="container">
    	<div class="starter-template">
        	<h1>Oración generada dinámicamente</h1>
        	<p class="lead">Oración:
        	<span id="subject"></span> 
        	<span id="verb"></span> 
        	<span id="article"></span> 
        	<span id="adjective"></span> 
        	<span id="noun"></span> 
        	</p> 
      	</div>
    	<div id="error" class="text-danger">
      	</div>

    </div>

<script type="text/javascript">
	var prefix = "/services";
	$.getJSON(prefix + "/subject",   null, displaySubject)  .fail(displayErrorSubject);
	$.getJSON(prefix + "/verb",      null, displayVerb)     .fail(displayErrorVerb);
	$.getJSON(prefix + "/article",   null, displayArticle)  .fail(displayErrorArticle);
	$.getJSON(prefix + "/adjective", null, displayAdjective).fail(displayErrorAdjective);
	$.getJSON(prefix + "/noun",      null, displayNoun)     .fail(displayErrorNoun);
	
	function displaySubject(results) {
		$("#subject").html(results.text);
	}
	
	function displayVerb(results) {
		$("#verb").html(results.text);
	}
	
	function displayArticle(results) {
		$("#article").html(results.text);
	}
	
	function displayAdjective(results) {
		$("#adjective").html(results.text);
	}
	
	function displayNoun(results) {
		$("#noun").html(results.text);
	}
	
	//	Handle Errors:	
	
	function displayErrorSubject(x, s, m) {
		err(x, s, m, "subject");
	}
	
	function displayErrorVerb(x, s, m) {
		err(x, s, m, "verb");
	}
	
	function displayErrorArticle(x, s, m) {
		err(x, s, m, "article");
	}
	
	function displayErrorAdjective(x, s, m) {
		err(x, s, m, "adjective");
	}
	
	function displayErrorNoun(x, s, m) {
		err(x, s, m, "noun");
	}
	
	function err(xhr, status, msg, prefix) {
		var text = xhr.responseText;
		var emsg = "<p><b>AJAX Falló obteniendo " + prefix + ": " + xhr.status + " " + msg + "</b><br/></p>";
		$("#error").append(emsg);
		$("#error").show();
	}
</script>

</body>
</html>