<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Thymeleaf Sandbox</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>

    <h2>Big Listing (8,715 * 300 = 2,614,500 entries)</h2>
    <h3>Mode: <strong>FULL</strong></h3>

    <p>Using template engine: <strong>Thymeleaf</strong></p>

    <table>
      <thead>
        <tr>
          <th>Playlist ID</th>
          <th>Playlist Name</th>
          <th>Track Name</th>
          <th>Artist Name</th>
          <th>Album Title</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="e : ${dataSource}">
          <td th:text="${e.playlistId}">...</td>
          <td th:text="${e.playlistName}">...</td>
          <td th:text="${e.trackName}">...</td>
          <td th:text="${e.artistName}">...</td>
          <td th:text="${e.albumTitle}">...</td>
        </tr>
      </tbody>
    </table>

  </body>

</html>