<h1>{{title}}</h1>
<form>
  Numero 1: <input type="number" [(ngModel)]="numero1" name="numero1"><br/><br/>
  Numero 2: <input type="number" [(ngModel)]="numero2" name="numero2"><br/><br/>
  <input type="submit" value="sumar" (click)="sumar()"  class="btn btn-primary">&nbsp;&nbsp;
  <input type="submit" value="restar" (click)="restar()" class="btn btn-primary">

</form>
<p>Resultado: {{resultado}}</p>